<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="icon" sizes="20x20" href="images/crystal-devbox.png">
    <title>Crystal Devbox Launcher</title>
  </head>
  <body>
    <div class="header">
      <img src="images/crystal-devbox.png">
      <h1>Crystal Devbox Launcher</h1>
      <h2>Starts Available Tools</h2>
    </div>
    <br>
    <div class="content">
      <fieldset>
        <legend>Tools</legend>
        <form action="/launch">
          <button type="submit" name="tool" value="reference" title="Show Crystal Book (LanguageReference)">
            <img src="images/crystal-ref.png">
          </button>
          <button type="submit" name="tool" value="api" title="Show Crystal API Documentation">
            <img src="images/crystal-api.png">
          </button>
          <button type="submit" name="tool" value="playground" title="Start Crystal Playground">
            <img src="images/crystal-play.png">
          </button>
          <button type="submit" name="tool" value="vscodium" title="Start VSCodium—IDE">
            <img src="images/vscodium.png">
          </button>
        </form>
      </fieldset>
      <br>
      <br>
      <fieldset>
        <legend>Logs</legend>
        <pre><%=text_result%></pre>
      </fieldset>
    </div>
    <div class="footer">
      <p>Powered by Crystal/Kemal --- <%=VERSION%></p>
    </div>
  </body>
</html>
