
.header {
  background: white;
}
    
.header img {
  float: left;
  width: 100px;
  height: 100px;
}
    
.header h1 {
  position: relative;
  top: 14px;
  left: 60px;
}
    
.header h2 {
  position: relative;
  top: 0px;
  left: 130px;
}
    
.header::after {
  content: "";
  clear: both;
  display: table;
}
    
.content::after {
  content: "";
  clear: both;
  display: table;    
}
    
.footer {
  bottom: 4;
  left: 8;
  position: relative;
  width: 98.5%;
}

.footer p {
  font-size: 5px;
}
   
.not_found {
  text-align: center;
}
    
pre {
  color:rgb(248, 248, 240);
  background: rgb(4, 7, 36);
}
    